{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}

<div class="container" style="width:70%; text-align:center; color:blue;">
    <br><br><h4>
    RightClickSave - bringing all the benefits of NFTs to
        the value-conscious consumer.<br><br>
        Simply buy with us, and we'll email you the pictures to download and
        enjoy at your leisure!
        <br><br>

        </h4>
    <a class="btn btn-success" href="{{url_for('homepage')}}">Shop Now!</a>
</div>

{% endblock %}
