{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}

<div class="container" style="width:50%; text-align:center; color:blue;">
    <h4>
    Here at RightClickSave, we believe that everyone should be able to
    enjoy looking at NFT's.<br><br>
        So instead of spending a fortune on a JPEG, why not
        simply download a picture of it, to enjoy the identical product
        at a tiny fraction of the price!<br><br>
        Buy with us, and we'll email you the pictures and a link
        to right-click-save them.</h4>
    <a class="btn btn-success" href="{{url_for('homepage')}}">Shop Now!</a>
</div>

{% endblock %}
